<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="contenidoListaLibros">
		<h2>Libros</h2>
	
		<table id="tablaLibros" class="table table-light table-striped table-hover col-sm-8">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Título</th>
					<th scope="col">ISBN</th>
					<th scope="col"><a class="btn btn-primary" role="button" th:href="@{/libros/crear/0}">Nuevo libro</a></th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="libro : ${libros}">
					<tr>
						<th th:text="${libro.id}" />
						<td th:text="${libro.titulo}" />
						<td th:text="${libro.isbn}" />
						<td><a class="btn btn-success" role="button" th:href="@{/libros/editar/{id}(id=${libro.id})}">Editar</a>
						<a class="btn btn-danger" role="button" th:href="@{/libros/borrar/{id}(id=${libro.id})}">Borrar</a></td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</body>
</html>