@import "bourbon";

body {
	background: #eee !important;	
}
 div #miCuadro.wrapper{
	position: fixed;
    right: 0%;
    top: 40%;
}
.form-signin {
  max-width: 250px;
   max-height: 250px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: small;
	}
	

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;	 
	@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}
	.form-control #pass{
	 margin-top:20px !important;
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	   margin-top: 40px;
	}

	input[type="password"] {
	  
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}
