header{
   background-image: url("../imagenes/fondo_encabezado.png");
   height: 100px;
}

#nombrea{
	padding-left:280px;
}


nav{
	background-color: #006400;
	height:60px;
}
#menua{
margin-left:240px;	
padding-top:1px;

}



#blog{
	float:right;
	margin-right: 51px;
}

ul{
	
}
a{
	text-decoration: none;
	font-size: 21	px;
}
li{
	padding-bottom:3px;
	display: inline;
	margin-left:15px;
	padding-left: 10px;
}

a{
	color:white;
	font-size: 21px;
}
a:hover{
	color:black;
}

#principal{
	height: 416px;
	width: 1000px;
	float:right;
	margin-right: 50px;	
}

aside{
	height:400px;
	float: left;
	width:20%;
}

#pie{
	
	background-color: #9EA123;
	height:25px;
	width:1000px;

    position:absolute;
    bottom:53px;
    }
    #pielista{
    display: inline;
    font-size: 18px;
    color:#E4E682;
    padding-left: 0;
    padding-top:1px;
    }
    
    td{
        height: 50px;
    
    }
    td:hover{
    background-color: red;
    height: 50px;
    }
    
#flotar{
	position:relative;
	background-color: gray;
	opacity:.8;

	width: 462px;
	height: 95px;
	
	    float: right;
    margin-top: -300px;
    margin-right: 59px;
}
#flotartexto{
		font:18px ;
	color: #35360B;
}

#orbella:hover {
	background-color: red;
	color:white;	
	height: 300px;
}

#parrafoabajo{
		float:right;
	    margin-right: 190px;
	    margin-top:30px;
	
}
#parrafoabajo p{
	font-size: 21px;	
    line-height: 2;
}

footer{
	clear:both;	
    margin-top: 800px;
}
#arriba{
	background-color: #006400;
		height:30px;
	
}

#abajo{
	height:80px;
	background-color: #9EA123;
	
}
#logopie{
	float: left;
    margin-left: 571px;
    width: 136px;

}

#izq{
	
      float: left;
    clear: both;
    margin-top: -72px;
    margin-left: 100px;
    font-size: 6px;
}

#izq a{
    font-size: 14px;
        color: #006400;}
#dch{
	
    float: right;
    margin-top: -80px;
    margin-right: 271px;
	
}

#b a,p{
    font-size: 12px;
    color: #006400;    
}

#palo{
        font-size: 19px;
    color: white;
    padding-left: 26px;
}
#palogrande{
	    float: left;
    margin-left: 286px;
    font-size: 81px;
}