header {
	background-image: url("../imgsana/fondo_encabezado.png");
	height: 100px;
}

#logoenc {
	padding-left: 20em;
}

#barraenc {
	background-color: #6B8E23;
	height: 50px;
	top: -10px;
	position: relative;
}

#navfooter {
	float: left;
	clear: both;
	margin-top: -65px;
}

#navfooter2 a {
	color: #6B8E23;
	text-decoration: none;
	font-size: 10px;
	font-family: arial;
}

#navfooter li {
	display: inline;
}

#navfooter2 {
	float: left;
	clear: both;
	margin-top: -40px;
}

#navfooter2 li {
	display: inline;
}

#barranum {
	background-color: #E4E682;
	height: 30px;
	margin-top: 355px;
	position: relative;
	margin-left: 250px;
	margin-right: 80px;
}

#listanum {
	padding-left: 10px;
	margin-top: 0px;
	padding-top: 60px;
	position: relative;
	bottom: 50px;
}

#listanum li {
	display: inline;
}

#listanum li :hover {
	color: #35360B;
}

#listaenc {
	padding-left: 100px;
	margin-top: 0px;
	padding-top: 15px;
	margin-left: 250px;
}

#listaenc li :hover {
	background-color: #BDB76B;
}

#listaenc li {
	display: inline;
	margin-right: 10px;
	padding: 10px;
}

#enlaceblog {
	float: right;
	margin-right: 40px;
}

#listaenc a {
	color: white;
	font-variant: small-caps;
	text-decoration: none;
	font-size: 18px;
	font-family: arial;
}

#listanum a {
	color: white;
	font-variant: small-caps;
	text-decoration: none;
	font-size: 18px;
	font-family: arial;
}

#listfoot a {
	color: #6B8E23;
	font-variant: small-caps;
	text-decoration: none;
	font-size: 18px;
	font-family: arial;
}

#hojas {
	float: right;
}

#cuadro {
	background-color: #F6F7D5;
	opacity: 0.6;
	width: 300px;
	height: 100px;
	float: right;
	margin-top: -250px;
	margin-right: 150px;
}

#pcuadro {
	font-size: 18px;
	color: #35360B;
	opacity: 1;
}

#parrafo {
	margin-left: 255px;
	margin-top: 50px;
	font-family: arial;
}

#barrita {
	background-color: #6B8E23;
	height: 30px;
	margin-top: 650px;
}

#barrota {
	background-color: #E4E682;
	height: 110px;
	margin-bottom: 1px;
}

#logopie {
	float: left;
	margin-left: 580px;
	height: 100px;
}

#copy {
	float: left;
	margin-left: -236px;
	font-size: 10px;
	font-family: arial;
	color: #6B8E23;
	margin-top: 0px;
}

#footerdcho {
	font-size: 10px;
	font-family: arial;
	float: right;
	margin-right: 300px;
	margin-top: -96px;
	color: #35360B;
}