<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">
	<display-name>supermercado</display-name>
	<servlet>
		<description>
		</description>
		<display-name>RegistroProdServlet</display-name>
		<servlet-name>RegistroProdServlet</servlet-name>
		<servlet-class>supermercado.servlet.RegistroProdServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListadoProdServlet</display-name>
		<servlet-name>ListadoProdServlet</servlet-name>
		<servlet-class>supermercado.servlet.ListadoProdServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserLogin</display-name>
		<servlet-name>UserLogin</servlet-name>
		<servlet-class>supermercado.servlet.UserLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserLogout</display-name>
		<servlet-name>UserLogout</servlet-name>
		<servlet-class>supermercado.servlet.UserLogout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AnadiralCarrito</display-name>
		<servlet-name>AnadiralCarrito</servlet-name>
		<servlet-class>supermercado.servlet.AnadiralCarrito</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>VerCarrito</display-name>
		<servlet-name>VerCarrito</servlet-name>
		<servlet-class>supermercado.servlet.VerCarrito</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RegistroProdServlet</servlet-name>
		<url-pattern>/RegistroProdServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListadoProdServlet</servlet-name>
		<url-pattern>/ListadoProdServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	
	<servlet-name>UserLogin</servlet-name>
		<url-pattern>/UserLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLogout</servlet-name>
		<url-pattern>/UserLogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AnadiralCarrito</servlet-name>
		<url-pattern>/AnadiralCarrito</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerCarrito</servlet-name>
		<url-pattern>/VerCarrito</url-pattern>
	</servlet-mapping>
	
</web-app>

