@import url('https://fonts.googleapis.com/css?family=Bilbo|Caveat:400,700&subset=latin-ext');

/*	. para definir clase
	# es para definir un ID 
*/

/*CLASES*/
.cabeceraPrincip{
    text-align: center;
    font-size: 20px;
    font-family: verdana;
}
.cabecera{
    text-align: center;
    font-family: Verdana;
	font-size: 14px;
}
.contenidoprinc{
	font-family: Verdana;
	font-size: 14px;
	background-color: #54A2BC;
}
/*IDs*/

#formulario{
    margin: auto;
    width: 50%;
    padding: 10px;
}
#informacion{
	font-family: cursive;
}

/*CLASES*/

.menuIzq{
	background-color: #E0E6F8;
    padding-left: 21px;

}
.menuarriba {
    background-color: #8258FA;
    padding-left: 21px;
}

.menuarriba li {
    display: inline-block;
}

.menuarriba a {
    display: block;
    text-decoration: none;
    color: #E4E682;
    font-size: 18px;
    padding: 1em;
}

.menuarriba .menuactual a {
    color: #35360B;
}

 .menuarriba a {
        padding: 0 0.3em;
}
 
.informacion{
	font-size: 18px;
}

/***/





#contenedor{
    padding:5px;
    overflow: hidden;
}
#columnaIzq{
    width:30%;
    float:left;
}
#columnaDer{
    width:70%;
    float:right;
}
#flotante{
    float: right;
}

.container {
   border: 1px solid #DDDDDD;
   width: 50%;
   height: 50%;
   position: relative;
    float:right;
}
.tag {
   float: left;
   position: absolute;
   left: 50px;
   top:50px;
   z-index: 1000;
   background-color: #92AD40;
   padding: 5px;
   color: #FFFFFF;
   font-weight: bold;
}
.footer{
    font-family: cursive;
}
