@charset "UTF-8";

.grid {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "menubar menubar menubar menubar"
        "sidebar main main main"
        ". footer footer footer";

    justify-content: center;
}

.item-a {
    grid-area: header;
    background: gray;
}

.item-b {
    grid-area: main;
    background: red;
}

.item-c {
    grid-area: sidebar;
    background: blue;
}

.item-d {
    grid-area: footer;
    background: green;
}

.item-e {
    grid-area: menubar;
    background: green;
}

#imgFondo {
    width: 750px;
}

#imgHojarasca {
    width: 750px;
    height: 416px;
}

#tblMenu {
    width: 75%;
    margin-left:25%; 
    margin-right:auto;
    text-align: center;
}

#tblMenu tr td:hover{
    background: #9EA123;
}

#tblMenu a{
    font-size: 16px;
    color: white;
    text-decoration: none;
}

