body {
    font-family: sans-serif;
}

header {
    background-image: url(../imgs/fondo_encabezado.png);
    height: 104px;
    background-position: right;
}

/* body > header + nav */

#menuprincipal {
    background-color: #7C7C1D;
    text-transform: uppercase;
}

#menuprincipal ul,
paginacion ul {
    list-style: none;
    padding: 3px;
}

#menuprincipal a{
    display: block;
    text-decoration: none;
    color: #DCDC9B;
    padding: 1em;
}

#menuprincipal a:hover {
    background-color: #AEAE2D;
}

#menuprincipal li:last-child {
    float: right;
}

.paginacion {
    background-color: #AEAE2D;
    padding-left: 21px;
}

.paginacion li {
    display: inline-block;
}

.paginacion a{
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: #E4E682;
    padding: 1em;
}

.paginacion .numeropaginaactual{
    color:#34360B;
}
@media (min-width: 768px) {
    #menuprincipal li {
        display: inline-block;
    }
}
