body{
    font-family: sans-serif;
}

body > header,body > footer{
    color:white;
    background: black;
    font-size: 200%;
}

article h1{
    font-size: 200%;
    margin-bottom: 0;
}
article h2{
    font-size: 100%;
}