@charset "UTF-8";

body{
    font-family: sans-serif;
}

body>header{
    color: white;
    background: black;
}
article h1 {
    font-size: 200%;
    margin-bottom: 0;
}
article h2{
    font-size: 100%;
}
#menuprincipal a {
    text-decoration: none;
    color: white;
    display: inline-block;
}
#menuprincipal ul {
    list-style: none;
}
nav#menuprincipal > ul{
    border: 2px solid gray;
}
#menuprincipal ul li {
    display: inline-block;
    padding: o.5em 1em;
}
#menuprincipal li> ul> li{
    display: block;
}

h2 .alarma {
    color;red;
    font-size: ;
}
.barcos {
    text-decoration: underline;
}