@charset "UTF-8";

body {
	padding-bottom: 70px;
	padding-top: 70px;
}

.jumbotron {
	padding: 10px;
	margin-top:-70px; 
}

.navbar {
	background-color: #6f8296;
}

.panel-body-mine{
	background-color: #768290;
	padding-right:0;
	padding-left:0;
	padding-top:8px;
}
.panel-body-comment{
	background-color: #768290;
	padding-top:8px;
}

.card {
	padding: 0;
	margin: 15px;
}

.list-group{
	margin-bottom:0;
}

.list-group-mine .list-group-item {
  background-color: #5CB85C;
}

.list-group-mine .list-group-item:hover {
  background-color: #4CAE4C;
}

.badge{
	color:#5CB85C;
	background-color:#ffffff;
}
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}



