<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

</head>
<body>
<div th:include="includes/header::head"></div>
	<h2>libro</h2>

	<form action="#" th:action="@{/libros/{accion}(accion=${accion})}"
		th:object="${libro}" method="post">
		<p>
			<label for="nombre">Nombre</label> <input type="text"
				th:field="*{nombre}"
				th:attr="disabled=${accion == 'borrar'}" /> <span
				th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error
				nombre</span>
		</p>
		<p>
			<label for="editorial">editorial</label> <input type="text"
				th:field="*{editorial}"
				th:attr="disabled=${accion == 'borrar'}" /> <span
				th:if="${#fields.hasErrors('editorial')}" th:errors="*{editorial}">Error
				editorial</span>
		</p>
				<p>
			<label for="autor">autor</label> <input type="text"
				th:field="*{autor}"
				th:attr="disabled=${accion == 'borrar'}" /> <span
				th:if="${#fields.hasErrors('autor')}" th:errors="*{autor}">Error
				autor</span>
		</p>
		<input type="hidden" th:field="*{id}" />
		<p>
			<button type="submit">Aceptar</button>
		</p>
	</form>
</body>
</html>