<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bienvenido a libros</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<script th:href="@{/jquery/jquery.js}"></script>
<script th:href="@{/js/bootstrap.js}"></script>
  
</head>
<body>

	<div class="text-center">
 		<h2>Prestamos</h2>
 	</div>
	
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    <br><br>
    
	<a class="btn btn-info" href="/libros/">Libros</a>
	<a class="btn btn-info" href="/editoriales/">Editoriales</a>
     
     
     
			<form class="form-group" action="#"
				th:action="@{/prestamos/{accion}(accion=${accion})}"
				th:object="${prestamo}" method="post">
				<label class="sr-only" for="titulo"></label> 
				
					
				<select th:field="*{titulo}" th:attr="disabled=${accion == 'borrar' || (accion=='devolver')}"
				class="form-control mb-2 mr-sm-2 mb-sm-0">
					<option th:each="libro : ${libros}" 
						th:value="${libro.titulo}"
						th:utext="${libro.titulo}"/>
				</select>
				
				<!-- Usuarios harcodeados el *{usuario} es el campo que va a asociar el binding result-->
				<select th:field="*{usuario}" th:attr="disabled=${accion == 'borrar' || (accion=='devolver')}" class="form-control mb-2 mr-sm-2 mb-sm-0">
					<option value="Usuario1">Usuario1</option>
					<option value="Usuario2">Usuario2</option>
				</select>
				<input type="text" required name="fechaprestamo" th:attr="disabled=${(accion == 'borrar') || (accion=='devolver')}" id="fechaprestamo" 
				class="form-control mb-2 mr-sm-2 mb-sm-0" th:field="${prestamo.fechaprestamo}" 
				placeholder="aaaa/mm/dd" title="Formato aaaa/mm/dd" pattern="[0-9]{4}/[0-9]{2}/[0-9]{2}"/>
					
				<input type="hidden" th:value="${prestamo.id}" th:field="${prestamo.id}"/> 
				
				
				<!-- El th:field es el que enlaza con el java BindingResult bindingResult -->
			
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
			</form>
		</div>
     <div class="col-sm-4">
     
    </div>
  </div>
</body>
</html>