<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bienvenido a libros</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<script th:href="@{/jquery/jquery.js}"></script>
<script th:href="@{/js/bootstrap.js}"></script>
  
</head>
<body>

	<div class="text-center">
 		<h1>Prestamos</h1>
 	</div>
	
<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
    
    
    <!-- Contenidos -->
    <a class="btn btn-info" href="/libros/">Libros</a>
    <a class="btn btn-info" href="/editoriales/">Editoriales</a>
    
    <div class="table-responsive">
  	<table class="table table-striped">
 		<thead>
			<tr>
				<th>ID</th>
				<th>Titulo</th>
				<th>Usuario</th>
				<th>Fecha Prestamo</th>
				<th>Fecha Devolucion</th>
				<th><div class="text-center"><a th:href="@{/prestamos/crear/0}" class="btn btn-info">Prestamo Nuevo</a></div></th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="prestamo : ${prestamos}">
				<tr>
					<th th:text="${prestamo.id}"/>
					<td th:text="${prestamo.titulo}"/>
					<td th:text="${prestamo.usuario}"/>
		
					<td th:text="${#dates.format(prestamo.fechaprestamo, 'dd-MMM-yyyy')}"></td> 
					<td th:text="${#dates.format(prestamo.fechdevol, 'dd-MMM-yyyy')}"></td> 
					
					
					
					<td><div class="text-center">
						<a th:href="@{/prestamos/devolver/{id}(id=${prestamo.id})}" class="btn btn-success">Devolver</a>
						<a th:href="@{/prestamos/borrar/{id}(id=${prestamo.id})}" class="btn btn-danger">Borrar</a></div></td>

				
				</tr>
			</th:block>
		</tbody>
	  </table>
	</div>
    
    <!-- End Contenidos -->
    
    </div>
     <div class="col-sm-2">
     
    </div>
  </div>





</body>
</html>