
#Menu  {
	text-decoration: none;
	list-style: none;
	background-color:green;
	padding:8px;

}

#Menu ul{
	text-align:center;

}

#Menu ul > li {
    display: inline;  

}

a {
	color:white;
	text-decoration: none;
	padding:10px;
}

#Menu a:hover {
    color: white;
    background-color: #298A08;
}

#Bl{
	text-align:right;
}

.imgHojas {
	display:inline-block;
    height: 95px;
    width: 462px;
	/*box-sizing: border-box;*/
	postion:realtive;
	
}

.texto {
	display:inline-block;
	margin-left:21px;
	float:left;
	/*box-sizing: border-box;*/
	width:300px;
	height:400px;
	
}

.piePag{
	display:block;
	position:absolute;
	widht:960px;
	clear:both;
}

.foot {
	
}