* {
  margin: 0;
 	padding: 0;
}
body {
  background:#333 url("http://www.jmcamarket.com/materialize/img/marketylogo.png");
  background-size: cover;
	font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif,aclonica;
    font-size:14px;
	color:white;
}
.h3 {
  font-family: "aclonica";
  font-size; 120px;
  color: orange;
}