body {    
    margin: 0 !important;
    padding: 0 !important;
    font-family: sans-serif;
}
header {
    background-image: url("../imgs/imagenes/fondo_encabezado.png");
    background-repeat: repeat-y;
    background-position: right;
}

#titulo{
    background: red;
}

/*body > header + nav*/
#menuprincipal{
   color:black;
   background-color: #AEAE2D;
    padding: 1em;
    text-transform: uppercase;
}
# a,.paginacion a{
   color:black;
   background-color: #AEAE2D;
    padding: 1em;
    text-transform: uppercase;
}
.paginacion a{
   display: block;
    background-color: #AEAE2D;
    
}
.paginacion .numeropaginaactual a{
    color: #35360B;
}

#menuprincipal a:hover{
    background-color: #F6F7D5;
}

.column {
    float: left;
    width: 40%;
    margin-left: 50px;
}

div.fixed{
    position:fixed;
}

div.relative{
    position: relative;
    width: 200px;
    height: 200px;
    
}
div.absolute{
    position:absolute;
    top:80px;
    right:0;
    width:200px;
    height:100px;
    
}
#capa1{ position:absolute;
    z-index:1;
    top:20px;
    left:100px;
    
}
#capa2{
    position:absolute;
    z-index:0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AEAE2D;
    width: 100%;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111111;
}

#izq{ 
    position:absolute;
    left:10px;
    opacity:0.5;
    height: 50%;
    width: 385px;
    padding: 2em;
    box-sizing: border-box;
    
}
#der{
    position:absolute;
    left: 400px;
    width: 100%
}
#main {
    width: 100%;
    height: 500px;
    display: -webkit-flex; /* Safari */
    display: flex;
}

#main div {
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
}


#bcapa2{
    position:absolute;
    z-index:0;
}

#cita{
    position:absolute;
    z-index:1;
    top:50%;
    left:25%;
  
    width: 462px;
    height: 95px;
    background-color: #F6F7D5;
    opacity: 0.65;
    font-size: 18px;
    color:#35360B;
}

/*Para adaptar a los moviles*/
@media(max-width: 768px){
    #menuprincipal li{
        display: inline-block;
    }
}

@media(max-width: 1000px){
    header{
        padding-left:25%;
        margin-right: 10%
    }
    menuprincipal{
        padding-left:25%;
        padding-right: 10%;
    }
    menuprincipal li{
        display:inline-block;
    }
}