<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">

  <servlet>
  	<servlet-name>CargarProductos</servlet-name>
  	<servlet-class>com.ipartek.javaeeEjercicios.controladores.CargarProductos</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertarArticulosServlet</servlet-name>
  	<servlet-class>com.ipartek.javaeeEjercicios.controladores.InsertarArticulosServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UsuariosServlet</servlet-name>
  	<servlet-class>com.ipartek.javaeeEjercicios.controladores.UsuariosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CargarProductos</servlet-name>
  	<url-pattern>/CargarProductos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertarArticulosServlet</servlet-name>
  	<url-pattern>/Examen_html5/InsertarArticulosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsuariosServlet</servlet-name>
  	<url-pattern>/Examen_html5/login</url-pattern>
  </servlet-mapping>
</web-app>
