@charset "UTF-8";
body {

    font-family: : sans-serif;


}




body > header {

    color: white;
    background: black;


}


article h1 {
    font-size: 200%;
    margin-bottom: 0;
}


article h2 {
    font-size: 100%;
    margin-bottom: 0;
}