<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<description>
  	</description>
  	<display-name>Administrar</display-name>
  	<servlet-name>Administrar</servlet-name>
  	<servlet-class>Controlador.Administrar</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LogOut</display-name>
  	<servlet-name>LogOut</servlet-name>
  	<servlet-class>Controlador.LogOut</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>guardar</display-name>
  	<servlet-name>guardar</servlet-name>
  	<servlet-class>Controlador.guardar</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>busqueda</display-name>
  	<servlet-name>busqueda</servlet-name>
  	<servlet-class>Controlador.busqueda</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Administrar</servlet-name>
  	<url-pattern>/Administrar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogOut</servlet-name>
  	<url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>guardar</servlet-name>
  	<url-pattern>/guardar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>busqueda</servlet-name>
  	<url-pattern>/busqueda</url-pattern>
  </servlet-mapping>
</web-app>
